.container{
    height: 523px;
    width: 668px;
    box-sizing: border-box;
    background-color: lightgray;
    margin: 60px auto;
    padding: 15px 20px;
    border-radius: 28px;
}

h1{
    text-align: center;
    color: white;
    background-color: black;
    line-height: 50px;
}
#screen{
    width: 99%;
    height: 15%;
    font-size: 3rem;
    outline: none;
    margin-bottom: 10px;
    border-width: 0px;
}
table{
    margin: auto;
}
button{
    font-size: 2rem;
    background-color: white;
    height: 58px;
    width: 152px;
    border-width:0px;
}